body{
	background-color:  #161c22;
}

.user-info{
	color: white;
}

.user-info>h2{
	display: inline;
}

.user-info>hr{
	width: 50%;
	box-shadow: #161c22 0px -2.5px 5px 2px;
}

.user-info>ul{
	text-align: left;
	width: 50%;
	margin: auto;
}

.form.error{
	width: 25%;
	padding: 5px;
	border-radius: 100px;
	color: red;
	font-size: 1.2em;
}

.auth_form, .product, .form{
	z-index: 1;
	background-color: #27323da8;
	box-shadow: inset 0px 0px 10px 0px black;
	padding: 20px;
	text-align: center;
}

.auth_form>p{
	color: white;
	font-size: 2em;
	font-style: none;
}

input{
	width: 260px;
	height: 30px;
	margin-top: 10px;
	text-align: center;
	font-size: 20px;
	border-radius: 24px;
}
button{
	width: 115px;
	height: 25px;
	margin-top: 10px;
	text-align: center;
	background-color: #161c22;
	color: antiquewhite;
	font-size: 15px;
	border-radius: 24px;
	box-shadow: rgb(0, 0, 0) 0px 6px 50px;
}

#logo{
	border-radius: 70px;
	width: 100px;
	height: auto;
	margin: 10px;
	box-shadow: 0px 0px 10px lightblue;
	border: #373b63 1px solid;
}

input{
	box-shadow: rgb(0, 0, 0) 0px 6px 50px;
}

.nav-horisontal{
	background-color:  #050b11;
	width: 100%;
	max-height: 50px;
	overflow: visible;
}

.nav-item{
	color: white;
	font-size: 1.5em;
	padding: 10px;
	text-shadow: 1px 0 lightblue,
		0 -1px lightblue;
	display: inline-block;
	vertical-align: top;
}
.nav-dropdown-title, .nav-item>a{
	color: white;
	text-decoration: none;
}

.nav-item:hover{
	text-shadow: 1px 0 darkblue,
		0 -1px darkblue;
}


.price{
	display: block;
	color: lime;
	float: left;
	text-align: center;
	padding: 5px;
}

.nav-dropdown{
	max-width: 200px;
	position: relative;
}

.nav-dropdown>.nav-dropdown-content{
	opacity: 0;
	height: 0px;
	transition: opacity 0.2s;
	max-height: 750px;
	overflow-y: auto;
	
}

.nav-dropdown:hover>.nav-dropdown-content{
	opacity: 1;
	height: initial;
	border-top: grey 1px solid;
	background-color: #161c22;
	font-size: 0.8em;
	padding: 8px;
}


.nav-dropdown-content>.cart-empty{
	text-align: center;
	display: block;
	padding: 10px;
	border-top: grey 1px solid;
	background-color: #161c22;
	margin-top: 10px;
}

.product-list{
	width: 80%;
	margin: auto;
	padding: 10px;
}

.product{
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	max-width: 200px;
	margin: auto;
	z-index: 1;
	float: left;
}

.product>.product-image{
	display: block;
	max-height: 200px;
	max-width: 200px;
	width: auto;
	margin: auto;
	overflow: hidden;
}

.product>.product-image>img{
	max-height: 200px;
}

.product-controll{
	text-align: justify;
}

.product-info{
	display: block;
	flex-direction: column;
}

.product-info>.product-controll>.cart-add{
	float: right;
	color: wheat;
	background: linear-gradient(to right, grey, transparent, transparent);
	background-size: 100px 500px;
	transition: background-size 0.2s;
	padding: 5px;
	border-radius: 5px;
}

.product-info>.product-controll>.cart-add:hover{
	background-size: 500px 500px;
}
.form>div>*{
	display: block;
}

.form{
	display: block;
	width: 60%;
	display: flex;
	flex-direction: column;
	margin: 10px auto;
}

.userdata>div{
	display: block;
	text-align: center;
	margin: 5px auto;
	color: white;
}

.userdata>button{
	margin: auto;
}

.catagory{
	display: block;
	font-size: 0.5em;
	padding: 5px;
	color: white;
	font-family: sans-serif;
	border: 1px gold solid;
	border-radius: 50px;
	box-shadow: inset 0px 0px 2.5px 0px gold;
}

.Mundane{
	background-color: brown;
}

.Special{
	background-color: rgb(165, 132, 42);
}

.Exceptional{
	background-color: rgb(255, 145, 0);
}

.Elderich{
	background-color: gold;
	color: brown;
}

.filter, .basket_info{
	position: fixed;
	top: 150px;
	width: 125px;
	background: #27323d;
	border-radius: 10px;
	color: white;
}

.filter>h2{
	padding: 5px 20px;
}

.filter>hr{
	padding: 0px;
	margin: 0px;
}

.filer_items{
	background-color: #122b44;
	padding: 10px;
	box-shadow: #000000 inset 0px 0px 5px 0px;
}

.filter_items>div{
	margin: auto;
}

.filt{
	width: 100%;
	height: initial;
	font: initial;
	border-radius: initial;
	margin: auto;
	margin: 10px auto;
}

.cart-remove{
	float: right;
	margin-left: 10px;
	color: red;
	text-decoration:none;
	font-size: monospace;
}

.product-controll.cart{
	display: flex;
	width: 100%;
}

.product-controll.cart>.cart-remove{
	font-size: 1.5em;
}

.product-controll.cart>*{
	flex: auto;
}

.basket_info>ul{
	margin: 0px;
	padding: 10px 10px;
	list-style: none;
}