<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="sign_up.css" />
	<script src="main.js"></script>
</head>
<body>
	<header>
		<div class="nav">
			<a href="#">
				<img id="logo" src="https://pbs.twimg.com/profile_images/1002259962075238400/7hlbCkfp_400x400.jpg" width="150px" height="150px"/>
			</a>
		</div>
		<div class="login/register">

		</div>
	</header>
		<form align="center" style="background-color: white">
			<p style="font-family: Verdana"><u>CREATE AN ACCOUNT</u></p>
			<input id="user_name" name="user_name" type="text" placeholder="Email address" required /><br><br>
			<input id="user_name" name="User_name" type="text" placeholder="User name" required /><br><br>
			<input id="password" name="password" type="text" placeholder="password" required /><br><br>
			<input id="password" name="password" type="text" placeholder="confirm password" required /><br><br>
			<button class="button_submit" type="submit">Register</button><br><br>
			<hr style="color:aliceblue" width="15%" >or<hr style="color:aliceblue" width="15%">
			<button class="facebook" type="submit">Sign up with FaceBook</button><br><br>
		</form>
		<hr style="color:aliceblue">
	<footer>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About us</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</footer>
</body>
</html>